*{
    padding: 0em;
    margin: 0em;
}

/*Variabili globali*/
:root{
    --contentbgcolor: rgb(19, 19, 19);      /* quasi nero / antracite */
    --linkcolor: rgb(25, 25, 25);    /* crema molto chiaro */
    --visitedlinkcolor: rgb(25, 25, 25);    /* crema molto chiaro */
    --primarycolor: rgb(210, 98, 27);     /* arancione/bruno intenso */
    --secondarycolor: rgb(209, 136, 92);
    --buttonfocuscolor: rgb(25, 25, 25);
    --txtcolorlight: rgb(255, 255, 255);   /* crema molto chiaro */
    --txtcolordark: rgb(0,0,0);            /* nero */
    --eventbgcolor: rgb(30, 30, 30);      /* grigio scuro */
}

html, body{
    font-size: 100%;
    font-family: "Lexend", "Roboto", "sans-serif";
    line-height: 1.5em;
}

body{
    background-color: var(--contentbgcolor);
    color: var(--txtcolorlight);
    margin: auto;
}


/*
========================================
CLASSI RIUTILIZZABILI
========================================
*/

.button {
    background-color: var(--primarycolor);
    color: var(--txtcolordark);
    border: 0 solid var(--buttonfocuscolor);
    padding: 0.8em 1.5em;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: 0.15s all;
}

.button:hover {
    background-color: var(--secondarycolor);
    scale: 1.06;
}

.button:active {
    background-color: var(--txtcolorlight);
    transition: none;
}

/*
========================================
SEZIONE HEADER
========================================
*/

body > header {
    display: flex;
    background-color: var(--primarycolor);
    flex-direction: row;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

body > header h1{
    background-image: url("../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999em; /*Si nasconde il testo ma lo si mette come h1 per il ranking e l'accessibilita*/
    width: 10em;
    height: 2em;
}

#menu{
    margin-left: auto;
    width: auto;
    font-size: 1.3em;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu ul{
    display: flex;
    gap: 1em;
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a {
    text-decoration: none;
}

/*
========================================
SEZIONE BREADCRUMB
========================================
*/

#breadcrumb{
    margin-top: 0.8em;
    margin-left: 1.6em;
    font-size: 1.1em;
}

/*
========================================
SEZIONE CONTENUTO
========================================
*/

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 5em;
    background-color: var(--contentbgcolor);
    color: var(--contentxtcolor);
    margin-left: 8em;
    margin-right: 8em;
}

main h2{
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
}

main h3{
    text-align: center;
    font-size: 1.65em;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main hr {
    margin-top: 1em;
    margin-bottom: 4em;
    width: 100%;
}

main ul {
    list-style: none;
}

.event-card {
    background-color: var(--eventbgcolor);
    position: relative;
    display: flex;
    margin-bottom: 3em;
    height: auto;
}

.event-card figure {
    position: relative;
    width: 40%;
    font-size: 0;
}

.event-card figure img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

.event-card section {
    position: relative;
    width: 60%;
    padding: 3em;
    font-size: 1em;
}

.event-card section header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.event-card section header h4 {
    font-size: 1.5em;
}

.event-card section p {
    margin-bottom: 2em
}

.event-card section a {
    position: absolute;
    right: 3em;
    bottom: 3em;
}

.event-price {
    font-size: 1.2em;
    color: var(--primarycolor);
}

/*
========================================
SEZIONE "CHI SIAMO"
========================================
*/

#who-title {
    margin-top: 2.3em;
}

#paper-sheet {
    height: 50em;
    width: auto;
}

#who-section {

    position: relative;;
    margin-top: 2.5em;
}

#who-text {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: justify;
   color: var(--txtcolordark);
}

/*
========================================
FOOTER
========================================
*/

body > footer {
    margin-top: 2em;
    padding: 0.5em;
}