*{
    padding: 0em;
    margin: 0em;
}

/*Variabili globali*/
:root{
    --contentbgcolor: rgb(25, 25, 25);      /* quasi nero / antracite */
    --linkcolor: rgb(25, 25, 25);    /* crema molto chiaro */
    --visitedlinkcolor: rgb(25, 25, 25);    /* crema molto chiaro */
    --navcolor: rgb(210, 98, 27);     /* arancione/bruno intenso */
    --txtcolor: rgb(255, 255, 255);   /* crema molto chiaro */
    --eventbgcolor: rgb(97, 84, 68);      /* marrone scuro/grigio caldo */
}

html, body{
    font-size: 100%;
    font-family: "Lexend", "Roboto", "sans-serif";
    line-height: 1.5em;
}

html{
    background-image: linear-gradient(to top left, rgb(0 0 0/100%), transparent); /*Gradiente che parte dal colore 0 0 0 e arriva al 100%=bianco (massima luminosita). Lo fa andando verso il basso a destra*/
}

body{
    background-color: var(--contentbgcolor);
    color: var(--txtcolor);
    margin: auto;
}

/*
========================================
SEZIONE HEADER
========================================
*/

header{
    background-color: var(--navcolor);
}

header h1{
    background-image: url("materiale/images/logosvg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999em; /*Si nasconde il testo ma lo si mette come h1 per il ranking e l'accessibilita*/
    font-size: 6em;
    line-height: 1.5em;
    float: left;
}

header nav{
    margin-top: 2em;
}

#menu{
    float: right;
    width: auto;
    font-size: 1.3em;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu ul{
    list-style-type: none;
}

#menu ul li{
    margin: 1em;
    display: inline;
}

/*========================================
SEZIONE CONTENUTO
========================================
*/

main{
    margin-top: 1em;
    background-color: var(--contentbgcolor);
    color: var(--contentxtcolor);
}

main h2{
    text-align: center;
    line-height: 1.5em;
}

main h3{
    text-align: center;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}